# Laravel
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
Homestead.json
Homestead.yaml

# IDE
.idea/

# Node/Yarn
/node_modules
npm-debug.log
yarn-error.log

# Apple
.DS_Store

# PHPUnit
.phpunit.result.cache
